html{
    background-color: black;
}
#line{
    color: white
}
.xAxis{
    font-size: 0.8em;
}

.yAxis{
    font-size: 0.8em;
}
.dropdown{
    height: 3vh;
    width: 12.5%;
    font-size: 1.1em;
    margin-left: 10%;
    margin-top: 3%;
    position: absolute;
}
#line{
    margin-top: 0%;
}
h1{
    color: white;
    text-align: center;
    margin-bottom: -2%;
    font-family: 'Roboto', sans-serif;
}
.tdAxisLabel, .yearAxisLabel{
    font-size: 1.5em;
    fill: white;
    font-family: 'Roboto', sans-serif;
}
.lineLegend{
    font-size: 1.2em;
    fill: white;
    font-family: 'Roboto', sans-serif;
}
.source{
    font-size: 1em;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: left !important;
}
.tooltip-text, .tooltip-text2{
    font-family: 'Roboto', sans-serif !important;
    fill: white;
    font-size: 1em;
}